exclude micropip/_vendored/packaging/.github/*
exclude micropip/_vendored/packaging/docs/*
exclude micropip/_vendored/packaging/tasks/*
exclude micropip/_vendored/packaging/tests/*
exclude micropip/_vendored/packaging/.pre-commit-config.yaml
exclude micropip/_vendored/packaging/.readthedocs.yml
exclude micropip/_vendored/packaging/CHANGELOG.rst
exclude micropip/_vendored/packaging/CONTRIBUTING.rst
exclude micropip/_vendored/packaging/noxfile.py
exclude micropip/_vendored/packaging/pyproject.toml

include micropip/_vendored/packaging/LICENSE
include micropip/_vendored/packaging/LICENSE.APACHE
include micropip/_vendored/packaging/LICENSE.BSD

include micropip/_vendored/packaging/README.rst

exclude micropip/_vendored/resolvelib/.github/*
exclude micropip/_vendored/resolvelib/examples/*
exclude micropip/_vendored/resolvelib/news/*
exclude micropip/_vendored/resolvelib/tests/*
exclude micropip/_vendored/resolvelib/.editorconfig
exclude micropip/_vendored/resolvelib/.gitignore
exclude micropip/_vendored/resolvelib/CHANGELOG.rst
exclude micropip/_vendored/resolvelib/CODE_OF_CONDUCT.md
exclude micropip/_vendored/resolvelib/DEVELOPMENT.rst
exclude micropip/_vendored/resolvelib/MANIFEST.in
exclude micropip/_vendored/resolvelib/noxfile.py
exclude micropip/_vendored/resolvelib/pyproject.toml
exclude micropip/_vendored/resolvelib/README.rst

include micropip/_vendored/resolvelib/LICENSE

